.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
}

.main .grid{
    width: 100vw;
    height: 100vh;
}

.infography{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
 .container{
    width: 60%;
}

.form-conainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} 